# generic files to ignore
# backup files (*~) and Vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
.*.swp
*.out

# IDE files to ignore (Netbeans, Eclipse)
nbproject/private/
.classpath
.project
.settings

# ignore generated .class files
*.class

# except this file
!.gitignore

# GCC files
*.o
*.elf
*.bin
*.hex
*.map
__*

# KEIL files
*.bak
*.domi
*.d.kuhn

# folders
Out/*
Lst/*
MDK-ARM/Test_Sensoren/*
MDK-ARM/Out/*
MDK-ARM/Lst/*
!.gitignore